{{#section "styles"}}
{{/section}}

<div id="campeonatoId" data-campeonatoid="{{campeonato}}"></div>
<form id="getCampeonatosForm" action="http://localhost:3456/api/campeonato" method="GET" hidden></form>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Campeonatos</h5>
          <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-default text-white" data-bs-toggle="modal"
              data-bs-target="#modalCampeonato">
              Novo Campeonato
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 pt-2 overflow-auto">
    <table class="table table-bordered table-hover table-fixed mb-1">
      <thead>
        <tr>
          <th width="60%">Campeonato</th>
          <th>Temporada</th>
          <th>Tipo</th>
          <th>Premiação</th>
          <th width="10%">Ações</th>
        </tr>
      </thead>
      <tbody id="campeonatosTableBody">

      </tbody>
    </table>
  </div>
</div>

<!--modal de edição de Campeonato-->
<div class="modal fade" id="modalCampeonato" tabindex="-1" aria-labelledby="modalCampeonatoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">
          Campeonato
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formCampeonato" method="POST">
          <input type="hidden" name="campeonatoId" id="campeonatoId">
          <input type="hidden" name="methodCampeonato" id="methodCampeonato" value="POST">
          <div class="mb-3" id="nomeCampeonatoGroup">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" id="nomeCampeonato" />
          </div>
          <div class="mb-3" id="temporadaCampeonatoGroup">
            <label class="form-label">Temporada</label>
            <input type="text" class="form-control" id="temporadaCampeonato" />
          </div>
          <div class="mb-3" id="tipoCampeonatoGroup">
            <label class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipoCampeonato" />
          </div>
          <div class="mb-3" id="premiacaoCampeonatoGroup">
            <label class="form-label">Premiação</label>
            <input type="number" class="form-control" id="premiacaoCampeonato" />
          </div>
          <div class="d-flex justify-content-end w-100">
            <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-default text-white ms-2" data-bs-dismiss="modal">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{#section "scripts"}}
<script>
  function getAllCampeonatos() {
    $.ajax({
      url: "http://localhost:3456/api/campeonato",
      method: "GET",
      dataType: "JSON",
      headers: {
        "Authorization": TokenManager.getToken(),
      },
      success: function (data) {
        fillTable(data);
      },
      error: function (err) {
        console.log(err);
      },
    });
  }

  function fillTable(campeonatos) {
    let campeonatosRows = '';

    for (let campeonato of campeonatos) {
      campeonatosRows += `
        <tr>
          <td>${campeonato.nome}</td>
          <td>${campeonato.temporada}</td>
          <td>${campeonato.tipo}</td>
          <td>${campeonato.premiacao_valor}</td>
          <td>
            <!--<button type="button" class="btn btn-default text-white" data-bs-toggle="modal"
              data-bs-target="#modalCampeonato">
              Detalhes
            </button>-->
            <a href="/partidas/" class="btn btn-default text-white">
              Ver Partidas
            </a>
          </td>
        </tr>
      `;
    }

    $("#campeonatosTableBody").html(campeonatosRows);
  }

  $(document).ready(function () {
    $('#modalCampeonato').on('show.bs.modal', function (event) {
      $.ajax({
        url: "http://localhost:3456/api/campeonato/" + campeonatoId,
        method: "GET",
        dataType: "JSON",
        headers: {
          "Authorization": TokenManager.getToken(),
        },
        success: function (data) {
          if (data !== null) {
            $("#nomeCampeonato").val(data.nome);
            $("#temporadaCampeonato").val(data.temporada);
            $("#tipoCampeonato").val(data.tipo);
            $("#premiacaoCampeonato").val(data.premiacao_valor);
            $("#campeonatoId").val(data.id);
          }
        },
        error: function (err) {
          console.log(err);
        },
      });
    });

    $("#formCampeonato").on('submit', function (event) {
      let campeonatoId = $("#campeonatoId").val();

      let campeonato = {
        nome: $("#nomeCampeonato").val(),
        temporada: $("#temporadaCampeonato").val(),
        tipo: $("#tipoCampeonato").val(),
        premiacao_valor: $("#premiacaoCampeonato").val(),
      }

      $.ajax({
        type: campeonatoId === "" ? "POST" : "PUT",
        url: campeonatoId === "" ? "http://localhost:3456/api/campeonato" : "http://localhost:3456/api/campeonato/" + campeonatoId,
        data: JSON.stringify(campeonato),
        dataType: "json",
        headers: {
          "Authorization": TokenManager.getToken(),
        },
        success: function (data) {
          $(location).attr('href', '/campeonatos');
        },
        error: function (err) {
          if (err.status == 400) {
            let errorMessages = err.responseJSON.errors;

            if (errorMessages.nome.length > 0) {
              $("#nomeCampeonato").addClass("is-invalid");
              for (let error of errorMessages.nome) {
                $("#nomeCampeonatoGroup").append(
                  '<div class="invalid-feedback">' + error + '</div>'
                );
              }
            }

            if (errorMessages.temporada.length > 0) {
              $("#temporadaCampeonato").addClass("is-invalid");
              for (let error of errorMessages.temporada) {
                $("#temporadaCampeonatoGroup").append(
                  '<div class="invalid-feedback">' + error + '</div>'
                );
              }
            }

            if (errorMessages.tipo.length > 0) {
              $("#tipoCampeonato").addClass("is-invalid");
              for (let error of errorMessages.tipo) {
                $("#tipoCampeonatoGroup").append(
                  '<div class="invalid-feedback">' + error + '</div>'
                );
              }
            }

            if (errorMessages.premiacao_valor.length > 0) {
              $("#premiacaoCampeonato").addClass("is-invalid");
              for (let error of errorMessages.premiacao_valor) {
                $("#premiacaoCampeonatoGroup").append(
                  '<div class="invalid-feedback">' + error + '</div>'
                );
              }
            }
          }
        },
      });

      event.preventDefault();
    });

    $("#getCampeonatosForm").on('submit', function (event) {
      $.ajax({
        url: "http://localhost:3456/api/campeonato",
        method: "GET",
        dataType: "JSON",
        headers: {
          "Authorization": TokenManager.getToken(),
        },
        success: function (data) {
          fillTable(data);
        },
        error: function (err) {
          console.log(err);
        },
      });

      event.preventDefault();
    });

    $("#getCampeonatosForm").submit();
  });
</script>
{{/section}}