<div class="container-fluid">
  <div class="card" id="card1">
    <div class="card-body">
      <div class="row">
        <div class="col-8 col-md-8">
          <p class="textCard">Campeonato</p>
        </div>
        <div class="col-4 col-md-4">
          <a href="edicao.html" class="btn-primary">
            <p
              class="textBotao"
              style="background-color: #227225; border-radius: 20px;"
            >Novo Campeonato
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="card" id="card1">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="card-body">
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="textCard">Campeonato Naciocional 2021</p>
            </div>
            <div class="col-4 col-md-4">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn-primary detalhe"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Detalhes
              </button>

              <!-- Modal -->
              
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>