<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-md-6 pb-1 pb-md-0">
            <h5 class="card-title mb-0">Classificação</h5>
          </div>
          <div class="col-12 col-md-6 pt-1 pt-md-0">
            <select class="form-select" name="campeonato_search" style="background-color: #227225; color: #fff">
              <option selected>Selecione um campeonato</option>
              <option value="1">Campeonato A</option>
              <option value="2">Campeonato B</option>
              <option value="3">Copa A</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 pt-2 overflow-auto">
    <table class="table table-bordered table-hover table-fixed mb-1">
      <thead>
        <tr>
          <th width="45%">Time</th>
          <th>jogos</th>
          <th>pontos</th>
          <th>Vit</th>
          <th>Emp</th>
          <th>Der</th>
          <th>GP</th>
          <th>GC</th>
          <th>SG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Time 1</td>
          <td>14</td>
          <td>29</td>
          <td>9</td>
          <td>2</td>
          <td>2</td>
          <td>23</td>
          <td>16</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Time 1</td>
          <td>14</td>
          <td>29</td>
          <td>9</td>
          <td>2</td>
          <td>2</td>
          <td>23</td>
          <td>16</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Time 1</td>
          <td>14</td>
          <td>29</td>
          <td>9</td>
          <td>2</td>
          <td>2</td>
          <td>23</td>
          <td>16</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>