<div class="container-fluid">
  <div class="card" id="card1">
    <div class="card-body">
      <div class="row">
        <div class="col-3 col-md-3">
          <p class="textCard">#1 Corinthians</p>
        </div>
        <div class="col-9 col-md-9">
          <a href="edicao.html" class="btn btn-primary">
            <p class="textBotao">Visualizar</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section "scripts"}}
  <script>
    {{!-- alert('Teste!'); --}}
  </script>
{{/section}}