<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <form id="formLogin" method="POST">
      <div id="message"></div>
      <div class="mb-3" id="emailGroup">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="mb-3" id="passwordGroup">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="mb-3">
        <button type="submit" id="btnSubmit" class="btn btn-default text-white">
          Login
        </button>
      </div>
    </form>
  </div>
</div>

{{#section "scripts"}}
<script>
  $(document).ready(function () {
    $("#formLogin").on('submit', function (event) {
      let user = {
        email: $("#email").val(),
        password: $("#password").val(),
      }

      $.ajax({
        type: "POST",
        url: "http://localhost:3456/login",
        data: JSON.stringify(user),
        dataType: "json",
        success: function (data) {
          TokenManager.setToken(data.token);
          $(location).attr('href', '/');
        },
        error: function (error) {
          if (error.status == 404) {
            $("#message").append(
              '<div class="alert alert-danger">Nenhum usuário cadastrado possui esse email!</div>'
            );
            return;
          }

          if (error.status == 403) {
            {{!-- $("#password").addClass("is-invalid");
            $("#passwordGroup").append(
              '<div class="invalid-feedback">Senha digitada está incorreta!</div>'
            );
            return; --}}
            $("#message").append(
              '<div class="alert alert-danger">Senha digitada está incorreta!</div>'
            );
            return;
          }
        },
      });

      event.preventDefault();
    });
  });
</script>
{{/section}}