<form id="getPartidasForm" action="http://localhost:3456/api/partida" method="GET" hidden></form>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Partidas</h5>
          <div class="d-flex justify-content-end align-items-center">
            <a href="/" class="btn btn-default text-white">
              Gerar Partidas
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 pb-1 pb-md-0">
            <input
              type="text"
              name="time_search"
              class="form-control"
              placeholder="Digite o nome do time..."
            />
          </div>
          <div class="col-12 col-md-6 pt-1 pt-md-0">
            <select class="form-select" name="campeonato_search">
              <option selected>Selecione um campeonato</option>
              <option value="1">Campeonato A</option>
              <option value="2">Campeonato B</option>
              <option value="3">Copa A</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table Partidas -->
  <div class="col-12 pt-2 overflow-auto">
    <table class="table table-bordered table-hover table-fixed mb-1">
      <thead>
        <tr>
          <th>Mandante</th>
          <th>Visitante</th>
          <th>Horário</th>
          <th>Campeonato</th>
          <th>Gols Mandante</th>
          <th>Gols Visitante</th>
          <th>Transmissão</th>
          <th width="10%">Ações</th>
        </tr>
      </thead>
      <tbody id="partidasTableBody">
      </tbody> 
    
    
    </table>
  </div>
</div>

<!-- Modal Partidas -->
<div
  class="modal fade"
  id="modalPartida"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" name="partidaId" id="partidaId">
          <input type="hidden" name="methodPartida" id="methodPartida" value="POST">
          <div class="form-group">
            <label for="mandanteTime">Mandante</label>
            <input readonly 
              type="text"
              class="form-control"
              id="mandanteTime"
            />
          </div>
          <div class="form-group">
            <label for="visitanteTime">Visitante</label>
            <input readonly
              type="text"
              class="form-control"
              id="visitanteTime"
            />
          </div>
          <div class="form-group">
            <label for="dataPartida">Data da partida</label>
            <input readonly
              type="text"
              class="form-control"
              id="dataPartida"
            />
          </div>
          <div class="form-group">
            <label for="campeonatoPartida">Campeonato</label>
            <input readonly
              type="text"
              class="form-control"
              id="campeonatoPartida"
            />
          </div>
         <div class="form-group">
            <label for="transmissaoPartida">Transmissão</label>
            <input readonly
              type="text"
              class="form-control"
              id="transmissaoPartida"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{{#section "scripts"}}
<script>
  function getAllPartidas() {
    $.ajax({
      url: "http://localhost:3456/api/partida",
      method: "GET",
      dataType: "JSON",
      headers: {
        "Authorization": TokenManager.getToken(),
      },
      success: function (data) {
        fillTable(data);
      },
      error: function (err) {
        console.log(err);
      },
    });
  }

  function fillTable(partidas) {
    let partidasRows = '';

    for (let partida of partidas) {
      console.log(partida);
      partidasRows += `
        <tr>
          <td>${partida.mandante.nome}</td>
          <td>${partida.visitante.nome}</td>
          <td>${partida.data_partida}</td>
          <td>${partida.campeonato.nome}</td>
          <td>${partida.resultado.gols_mandante}</td>
          <td>${partida.resultado.gols_visitante}</td>
          <td>${partida.transmissao.tipo}</td>
          <td>
            <button
              type="button"
              class="btn btn-default text-white"
              data-bs-toggle="modal"
              data-bs-target="#modalPartida"
              data-method="PUT"
              data-partida-mandante-nome="${partida.mandante.nome}"
              data-partida-visitante-nome="${partida.visitante.nome}"
              data-partida-data="${partida.data_partida}"
              data-partida-campeonato="${partida.campeonato.nome}"
              data-partida-transmissao="${partida.transmissao.tipo}"
            >
              Detalhes
            </button>
          </td>
        </tr>
      `;
    }

    $("#partidasTableBody").html(partidasRows);
  }

  $(document).ready(function () {

    $("#getPartidasForm").on('submit', function (event) {
      $.ajax({
        url: "http://localhost:3456/api/partida",
        method: "GET",
        dataType: "JSON",
        headers: {
          "Authorization": TokenManager.getToken(),
        },
        success: function (data) {
          fillTable(data);
        },
        error: function (err) {
          console.log(err);
        },
      });

      event.preventDefault();
    });

    $("#getPartidasForm").submit();

    $('#modalPartida').on('show.bs.modal', function (event) {
      $("#mandanteTime").val($(event.relatedTarget).data('partida-mandante-nome'));
      $("#visitanteTime").val($(event.relatedTarget).data('partida-visitante-nome'));
      $("#dataPartida").val($(event.relatedTarget).data('partida-data'));
      $("#campeonatoPartida").val($(event.relatedTarget).data('partida-campeonato'));
      $("#transmissaoPartida").val($(event.relatedTarget).data('partida-transmissao'));

      
    });
  });
</script>
{{/section}}

