<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0">Partidas</h5>
      <div class="d-flex justify-content-end align-items-center">
        <a href="/" class="btn btn-default text-white">
          Gerar Partidas
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <input
          type="text"
          name="time_search"
          class="form-control"
          placeholder="Digite o nome do time..."
        />
      </div>
      <div class="col">
        <select class="form-select" name="campeonato_search">
          <option selected>Selecione um campeonato</option>
          <option value="1">Campeonato A</option>
          <option value="2">Campeonato B</option>
          <option value="3">Copa A</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-body border-top p-2">
    <table class="table table-bordered table-hover mb-1">
      <thead>
        <tr>
          <th scope="col">Mandante</th>
          <th scope="col">Visitante</th>
          <th scope="col">Horário</th>
          <th scope="col">Estádio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>@twitter</td>
          <td>@twitter</td>
          <td>@twitter</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>